rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Matches any document in the cities collection as well as any document
    // in a subcollection. (with: {document=**})
    match /colors/{document=**} {
      allow read: if true;
      allow write: if true;
    }
    // Matches any document in the cities collection as well as any document
    // in a subcollection. (with: {document=**})
    match /quotes/{document=**} {
      allow read: if true;
      allow write: if true;
    }
  }
}